<!DOCTYPE html>
<html style="background-color: #FFF">
    <head>
        <title>{% block title %}Movie Analytics{% endblock %}</title>
        <a href="/">Home</a>
    </head>
    <body>
        <h1>Welcome to Movie Analytics!</h1>
        
        <div id="searchContainer">

            <form action="/search" method="GET">
                <input type="search" id="query" name="q" placeholder="Search...">
                <button>Search</button>
            </form>

        </div>

        {% block content %}
        
        {% endblock %}
    </body>
</html>